{% extends 'base.html' %}
{% load static humanize %}

{% block title %}
    Delete post
{% endblock %}


{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block breacrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none">Boards</a></li>
    <li class="breadcrumb-item">
        <a href="{% url 'board_topics' post.topic.board.id %}" class="text-decoration-none">
            {{ post.topic.board.name }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'topic_posts' post.topic.board.id post.topic.id %}" class="text-decoration-none">
            {{ post.topic.subject|truncatechars:30 }}
        </a>
    </li>
    <li class="breadcrumb-item active">Delete post</li>
{% endblock %}

{% block content %}
    {% if post.is_initial %}
        <div class="alert alert-danger">
            <div class="fs-5 mb-3">
                Since this post is a topic initialization, you can't delete it without deleting the topic.
                <strong>If you delete a topic, all posts in it will also be irretrievably deleted</strong>.
                If you do not know what you are doing, we recommend that you cancel the request by clicking <strong>"Cancel"</strong>.
            </div>
            <div>
                Topic's name: <strong>{{ post.topic.subject }}</strong>
            </div>
            <div>
                Topic's board: <strong>{{ post.topic.board.name }}</strong>
            </div>
            <div>
                Topic's views: <strong>{{ post.topic.views }}</strong>
            </div>
            <div>
                Amount of posts: <strong>{{ post.topic.posts.count }}</strong>
            </div>
        </div>
        <form method="post" novalidate>
            {% csrf_token %}
            <button name="delete_submit" type="submit" class="btn btn-danger">Delete <span class="fw-bold">topic</span>
            </button>
            {% url 'topic_posts' post.topic.board.id post.topic.id as topic_url %}
            <a href="{{ topic_url }}?page={{ post.get_page }}#{{ post.id }}"
               class="btn btn-outline-secondary">
                Cancel
            </a>
        </form>
    {% else %}
        <div class="card pt-0">
            <div class="card-header alert alert-danger">
                You are going to delete next post:
            </div>
            <div class=card-body>
                <div class="row mb-3">
                    <div class="col">
                        <strong class="text-muted">{{ post.created_by.username }}</strong>
                    </div>
                    <div class="col text-end me-2">
                        <small class="text-muted">{{ post.created_at|naturaltime }}</small>
                    </div>
                </div>
                <div class="row">
                    {{ post.get_message_markdown }}
                </div>
            </div>
            <div class="card-footer border-top">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <button name="delete_submit" type="submit" class="btn btn-danger">Delete</button>
                    {% url 'topic_posts' post.topic.board.id post.topic.id as topic_url %}
                    <a href="{{ topic_url }}?page={{ post.get_page }}#{{ post.id }}"
                       class="btn btn-outline-secondary">
                        Cancel
                    </a>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}